<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .custom {
        display: flex;
        justify-content: space-between;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Url Shortener</h1>
      <form class="form-inline my-5" action="/shortUrl" method="POST">
        <input name="full" required class="form-control col mr-3" type="url" />
        <button type="submit" class="btn btn-success ">Shrink</button>
      </form>
      <table class="table table-responsive table-striped">
        <tr>
          <th>Full Url</th>
          <th>Short Url</th>
          <th>Clicks</th>
        </tr>

        <% if(shortUrls.length) shortUrls.forEach(url => {%>

        <tr>
          <th><%= url.full %></th>
          <th class="custom">
            <a class="mr-2 d-inline " href="<%= url.short%>"><%= url.short%></a>
            <form action="/<%=url.short%>?_method=DELETE" method="POST">
              <button type="submit" class=" d-inline btn btn-danger delete">
                delete
              </button>
            </form>
            <form action="/reset/<%=url.short%>?_method=PUT" method="POST">
              <button class="btn btn-primary ml-3" type="submit">Reset</button>
            </form>
          </th>
          <th><%= url.clicks%></th>
        </tr>
        <%}); %>
      </table>
    </div>
  </body>
</html>
